## <center> <font color ="purple"> Download and Clean Dataset<font>

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

we have so many data to train so we should be careful about data overfitting

## <font color ="red">Data Preprocessing  <font>

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

It looks like there is no misssing values

## <font color ="red"> Split data into predictors and target<font>

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
#Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## <font color ="red"> Import Keras <font>

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [12]:
#Define our model
#our model has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(1))

# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [13]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## <font color ="red"> Train and Test the Network<font>

In [15]:
# fit the model .we will train the model for 50 epochs.
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 695us/step - loss: 10512.8652
Epoch 2/50
23/23 [==============================] - 0s 582us/step - loss: 6215.8667
Epoch 3/50
23/23 [==============================] - 0s 589us/step - loss: 4417.3369
Epoch 4/50
23/23 [==============================] - 0s 589us/step - loss: 3275.5720
Epoch 5/50
23/23 [==============================] - 0s 634us/step - loss: 2593.7297
Epoch 6/50
23/23 [==============================] - 0s 589us/step - loss: 2173.0479
Epoch 7/50
23/23 [==============================] - 0s 634us/step - loss: 1876.1646
Epoch 8/50
23/23 [==============================] - 0s 608us/step - loss: 1641.0142
Epoch 9/50
23/23 [==============================] - 0s 652us/step - loss: 1441.2756
Epoch 10/50
23/23 [==============================] - 0s 589us/step - loss: 1274.5045
Epoch 11/50
23/23 [==============================] - 0s 589us/step - loss: 1134.4888
Epoch 12/50
23/23 [==============================] - 0s 589us/step - loss: 1015.4301
Epoch 13/50
23/23 [==============================] - 0s 634us/step - loss: 923.9905
Epoch 14/50
23/23 [==============================] - 0s 634us/step - loss: 833.0213
Epoch 15/50
23/23 [==============================] - 0s 634us/step - loss: 753.8416
Epoch 16/50
23/23 [==============================] - 0s 589us/step - loss: 697.0738
Epoch 17/50
23/23 [==============================] - 0s 634us/step - loss: 642.5680
Epoch 18/50
23/23 [==============================] - 0s 589us/step - loss: 595.6325
Epoch 19/50
23/23 [==============================] - 0s 589us/step - loss: 548.4722
Epoch 20/50
23/23 [==============================] - 0s 589us/step - loss: 505.7683
Epoch 21/50
23/23 [==============================] - 0s 589us/step - loss: 477.6612
Epoch 22/50
23/23 [==============================] - 0s 634us/step - loss: 440.2870
Epoch 23/50
23/23 [==============================] - 0s 634us/step - loss: 411.3338
Epoch 24/50
23/23 [==============================] - 0s 725us/step - loss: 384.5776
Epoch 25/50
23/23 [==============================] - 0s 680us/step - loss: 361.4153
Epoch 26/50
23/23 [==============================] - 0s 680us/step - loss: 337.9747
Epoch 27/50
23/23 [==============================] - 0s 680us/step - loss: 316.6649
Epoch 28/50
23/23 [==============================] - 0s 634us/step - loss: 301.5842
Epoch 29/50
23/23 [==============================] - 0s 589us/step - loss: 281.5325
Epoch 30/50
23/23 [==============================] - 0s 634us/step - loss: 265.5604
Epoch 31/50
23/23 [==============================] - 0s 589us/step - loss: 253.6644
Epoch 32/50
23/23 [==============================] - 0s 634us/step - loss: 236.9871
Epoch 33/50
23/23 [==============================] - 0s 589us/step - loss: 229.4554
Epoch 34/50
23/23 [==============================] - 0s 634us/step - loss: 211.1798
Epoch 35/50
23/23 [==============================] - 0s 589us/step - loss: 201.6326
Epoch 36/50
23/23 [==============================] - 0s 589us/step - loss: 192.6969
Epoch 37/50
23/23 [==============================] - 0s 589us/step - loss: 184.3774
Epoch 38/50
23/23 [==============================] - 0s 634us/step - loss: 177.1545
Epoch 39/50
23/23 [==============================] - 0s 589us/step - loss: 170.5782
Epoch 40/50
23/23 [==============================] - 0s 589us/step - loss: 164.0702
Epoch 41/50
23/23 [==============================] - 0s 589us/step - loss: 158.0721
Epoch 42/50
23/23 [==============================] - 0s 634us/step - loss: 152.9808
Epoch 43/50
23/23 [==============================] - 0s 589us/step - loss: 147.5195
Epoch 44/50
23/23 [==============================] - 0s 589us/step - loss: 145.2812
Epoch 45/50
23/23 [==============================] - 0s 589us/step - loss: 140.5386
Epoch 46/50
23/23 [==============================] - 0s 589us/step - loss: 140.2867
Epoch 47/50
23/23 [==============================] - 0s 634us/step - loss: 133.1832
Epoch 48/50
23/23 [==============================] - 0s 589us/step - loss: 131.7375
Epoch 49/50
23/23 [==============================] - 0s 589us/step - loss: 129.0489
Epoch 50/50
23/23 [==============================] - 0s 589us/step - loss: 127.9590

In [16]:
#we need to evaluate the model on the test data.
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 663us/step - loss: 115.1826
10/10 [==============================] - 0s 553us/step

115.1825942993164

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
#we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

115.18258244478845 0.0

In [19]:
#Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 101.45272064208984
10/10 [==============================] - 0s 554us/step
MSE 2: 121.02938079833984
10/10 [==============================] - 0s 554us/step
MSE 3: 103.72049713134766
10/10 [==============================] - 0s 776us/step
MSE 4: 106.04299926757812
10/10 [==============================] - 0s 674us/step
MSE 5: 71.9269027709961
10/10 [==============================] - 0s 665us/step
MSE 6: 60.569053649902344
10/10 [==============================] - 0s 1ms/step
MSE 7: 78.50106048583984
10/10 [==============================] - 0s 869us/step
MSE 8: 49.30554962158203
10/10 [==============================] - 0s 1ms/step
MSE 9: 55.06974411010742
10/10 [==============================] - 0s 664us/step
MSE 10: 69.62614440917969
10/10 [==============================] - 0s 790us/step
MSE 11: 49.389530181884766
10/10 [==============================] - 0s 776us/step
MSE 12: 48.33750534057617
10/10 [==============================] - 0s 666us/step
MSE 13: 54.387508392333984
10/10 [==============================] - 0s 775us/step
MSE 14: 53.044883728027344
10/10 [==============================] - 0s 666us/step
MSE 15: 48.76664352416992
10/10 [==============================] - 0s 690us/step
MSE 16: 43.2709846496582
10/10 [==============================] - 0s 774us/step
MSE 17: 47.81139373779297
10/10 [==============================] - 0s 664us/step
MSE 18: 48.54169464111328
10/10 [==============================] - 0s 665us/step
MSE 19: 45.10322952270508
10/10 [==============================] - 0s 776us/step
MSE 20: 43.624732971191406
10/10 [==============================] - 0s 665us/step
MSE 21: 45.32025909423828
10/10 [==============================] - 0s 776us/step
MSE 22: 43.247230529785156
10/10 [==============================] - 0s 665us/step
MSE 23: 43.31602478027344
10/10 [==============================] - 0s 664us/step
MSE 24: 47.104557037353516
10/10 [==============================] - 0s 665us/step
MSE 25: 45.39188003540039
10/10 [==============================] - 0s 554us/step
MSE 26: 51.56300735473633
10/10 [==============================] - 0s 665us/step
MSE 27: 48.48339080810547
10/10 [==============================] - 0s 664us/step
MSE 28: 43.73554611206055
10/10 [==============================] - 0s 554us/step
MSE 29: 48.66522979736328
10/10 [==============================] - 0s 664us/step
MSE 30: 47.348514556884766
10/10 [==============================] - 0s 588us/step
MSE 31: 49.71809005737305
10/10 [==============================] - 0s 554us/step
MSE 32: 41.53112030029297
10/10 [==============================] - 0s 886us/step
MSE 33: 46.12346267700195
10/10 [==============================] - 0s 755us/step
MSE 34: 62.01325988769531
10/10 [==============================] - 0s 665us/step
MSE 35: 43.40469741821289
10/10 [==============================] - 0s 776us/step
MSE 36: 54.539459228515625
10/10 [==============================] - 0s 775us/step
MSE 37: 52.61103439331055
10/10 [==============================] - 0s 775us/step
MSE 38: 47.851905822753906
10/10 [==============================] - 0s 665us/step
MSE 39: 45.49292755126953
10/10 [==============================] - 0s 665us/step
MSE 40: 41.03082275390625
10/10 [==============================] - 0s 554us/step
MSE 41: 55.838294982910156
10/10 [==============================] - 0s 629us/step
MSE 42: 45.219120025634766
10/10 [==============================] - 0s 665us/step
MSE 43: 46.880001068115234
10/10 [==============================] - 0s 775us/step
MSE 44: 54.53506088256836
10/10 [==============================] - 0s 776us/step
MSE 45: 51.220375061035156
10/10 [==============================] - 0s 886us/step
MSE 46: 49.344642639160156
10/10 [==============================] - 0s 664us/step
MSE 47: 51.77079391479492
10/10 [==============================] - 0s 664us/step
MSE 48: 56.391300201416016
10/10 [==============================] - 0s 996us/step
MSE 49: 58.08229064941406
10/10 [==============================] - 0s 664us/step
MSE 50: 51.78356170654297
10/10 [==============================] - 0s 775us/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 55.381600168888596
Standard Deviation: 17.344187700880187