## <center> <font color ="purple"> Download and Clean Dataset<font>

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

we have so many data to train so we should be careful about data overfitting

## <font color ="red">Data Preprocessing  <font>

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

It looks like there is no misssing values

## <font color ="red"> Split data into predictors and target<font>

In [20]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [21]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [22]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [44]:
#Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [23]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

## <font color ="red"> Import Keras <font>

In [25]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [43]:
#Define our model
#our model has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(1))

# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [28]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [29]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## <font color ="red"> Train and Test the Network<font>

In [30]:
# fit the model .we will train the model for 50 epochs.
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 713us/step - loss: 12957.7617
Epoch 2/50
23/23 [==============================] - 0s 589us/step - loss: 4798.4536
Epoch 3/50
23/23 [==============================] - 0s 589us/step - loss: 3716.3674
Epoch 4/50
23/23 [==============================] - 0s 589us/step - loss: 3041.2012
Epoch 5/50
23/23 [==============================] - 0s 634us/step - loss: 2430.9348
Epoch 6/50
23/23 [==============================] - 0s 634us/step - loss: 1924.3391
Epoch 7/50
23/23 [==============================] - 0s 634us/step - loss: 1500.5284
Epoch 8/50
23/23 [==============================] - 0s 639us/step - loss: 1180.7238
Epoch 9/50
23/23 [==============================] - 0s 634us/step - loss: 922.6866
Epoch 10/50
23/23 [==============================] - 0s 589us/step - loss: 734.1007
Epoch 11/50
23/23 [==============================] - 0s 589us/step - loss: 603.9092
Epoch 12/50
23/23 [==============================] - 0s 589us/step - loss: 511.8129
Epoch 13/50
23/23 [==============================] - 0s 589us/step - loss: 445.0822
Epoch 14/50
23/23 [==============================] - 0s 589us/step - loss: 394.8336
Epoch 15/50
23/23 [==============================] - 0s 589us/step - loss: 362.9629
Epoch 16/50
23/23 [==============================] - 0s 589us/step - loss: 340.7337
Epoch 17/50
23/23 [==============================] - 0s 589us/step - loss: 321.6914
Epoch 18/50
23/23 [==============================] - 0s 589us/step - loss: 304.2013
Epoch 19/50
23/23 [==============================] - 0s 634us/step - loss: 291.1564
Epoch 20/50
23/23 [==============================] - 0s 634us/step - loss: 283.8502
Epoch 21/50
23/23 [==============================] - 0s 589us/step - loss: 273.1658
Epoch 22/50
23/23 [==============================] - 0s 589us/step - loss: 258.9771
Epoch 23/50
23/23 [==============================] - 0s 634us/step - loss: 249.4364
Epoch 24/50
23/23 [==============================] - 0s 589us/step - loss: 241.4388
Epoch 25/50
23/23 [==============================] - 0s 589us/step - loss: 231.1389
Epoch 26/50
23/23 [==============================] - 0s 589us/step - loss: 224.5540
Epoch 27/50
23/23 [==============================] - 0s 634us/step - loss: 214.4068
Epoch 28/50
23/23 [==============================] - 0s 589us/step - loss: 206.9307
Epoch 29/50
23/23 [==============================] - 0s 634us/step - loss: 199.1468
Epoch 30/50
23/23 [==============================] - 0s 589us/step - loss: 199.0903
Epoch 31/50
23/23 [==============================] - 0s 591us/step - loss: 188.8967
Epoch 32/50
23/23 [==============================] - 0s 589us/step - loss: 180.4811
Epoch 33/50
23/23 [==============================] - 0s 634us/step - loss: 181.2233
Epoch 34/50
23/23 [==============================] - 0s 589us/step - loss: 170.5820
Epoch 35/50
23/23 [==============================] - 0s 634us/step - loss: 165.7745
Epoch 36/50
23/23 [==============================] - 0s 589us/step - loss: 163.1447
Epoch 37/50
23/23 [==============================] - 0s 589us/step - loss: 157.3312
Epoch 38/50
23/23 [==============================] - 0s 589us/step - loss: 157.6632
Epoch 39/50
23/23 [==============================] - 0s 589us/step - loss: 150.3907
Epoch 40/50
23/23 [==============================] - 0s 589us/step - loss: 149.0883
Epoch 41/50
23/23 [==============================] - 0s 589us/step - loss: 153.0129
Epoch 42/50
23/23 [==============================] - 0s 589us/step - loss: 139.5363
Epoch 43/50
23/23 [==============================] - 0s 589us/step - loss: 135.4002
Epoch 44/50
23/23 [==============================] - 0s 589us/step - loss: 133.2758
Epoch 45/50
23/23 [==============================] - 0s 607us/step - loss: 130.6373
Epoch 46/50
23/23 [==============================] - 0s 589us/step - loss: 129.4918
Epoch 47/50
23/23 [==============================] - 0s 634us/step - loss: 127.1893
Epoch 48/50
23/23 [==============================] - 0s 589us/step - loss: 123.5466
Epoch 49/50
23/23 [==============================] - 0s 589us/step - loss: 125.3880
Epoch 50/50
23/23 [==============================] - 0s 715us/step - loss: 119.8900

In [33]:
#we need to evaluate the model on the test data.
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 120.7785
10/10 [==============================] - 0s 555us/step

120.77848052978516

In [34]:
from sklearn.metrics import mean_squared_error

In [35]:
#we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

120.77851299091718 0.0

In [45]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 141.5783233642578
10/10 [==============================] - 0s 886us/step
MSE 2: 114.29496765136719
10/10 [==============================] - 0s 776us/step
MSE 3: 67.85005187988281
10/10 [==============================] - 0s 750us/step
MSE 4: 52.326988220214844
10/10 [==============================] - 0s 775us/step
MSE 5: 47.44422912597656
10/10 [==============================] - 0s 554us/step
MSE 6: 48.635623931884766
10/10 [==============================] - 0s 775us/step
MSE 7: 47.279396057128906
10/10 [==============================] - 0s 1ms/step
MSE 8: 37.8479118347168
10/10 [==============================] - 0s 694us/step
MSE 9: 38.799278259277344
10/10 [==============================] - 0s 671us/step
MSE 10: 38.131107330322266
10/10 [==============================] - 0s 1ms/step
MSE 11: 37.90013885498047
10/10 [==============================] - 0s 665us/step
MSE 12: 33.47819137573242
10/10 [==============================] - 0s 554us/step
MSE 13: 42.983612060546875
10/10 [==============================] - 0s 784us/step
MSE 14: 42.84833908081055
10/10 [==============================] - 0s 555us/step
MSE 15: 35.84479904174805
10/10 [==============================] - 0s 688us/step
MSE 16: 32.614471435546875
10/10 [==============================] - 0s 665us/step
MSE 17: 38.27621078491211
10/10 [==============================] - 0s 665us/step
MSE 18: 36.619110107421875
10/10 [==============================] - 0s 775us/step
MSE 19: 35.51552200317383
10/10 [==============================] - 0s 664us/step
MSE 20: 36.310245513916016
10/10 [==============================] - 0s 892us/step
MSE 21: 35.279945373535156
10/10 [==============================] - 0s 443us/step
MSE 22: 36.20038604736328
10/10 [==============================] - 0s 1ms/step
MSE 23: 29.811504364013672
10/10 [==============================] - 0s 664us/step
MSE 24: 34.793128967285156
10/10 [==============================] - 0s 664us/step
MSE 25: 37.728515625
10/10 [==============================] - 0s 673us/step
MSE 26: 35.922611236572266
10/10 [==============================] - 0s 554us/step
MSE 27: 33.220191955566406
10/10 [==============================] - 0s 771us/step
MSE 28: 33.37446975708008
10/10 [==============================] - 0s 776us/step
MSE 29: 39.37654495239258
10/10 [==============================] - 0s 665us/step
MSE 30: 37.30506134033203
10/10 [==============================] - 0s 998us/step
MSE 31: 31.815963745117188
10/10 [==============================] - 0s 666us/step
MSE 32: 34.501556396484375
10/10 [==============================] - 0s 626us/step
MSE 33: 32.722572326660156
10/10 [==============================] - 0s 1ms/step
MSE 34: 36.7304573059082
10/10 [==============================] - 0s 665us/step
MSE 35: 34.707942962646484
10/10 [==============================] - 0s 664us/step
MSE 36: 42.07295227050781
10/10 [==============================] - 0s 887us/step
MSE 37: 31.52264976501465
10/10 [==============================] - 0s 2ms/step
MSE 38: 37.849735260009766
10/10 [==============================] - 0s 887us/step
MSE 39: 36.158817291259766
10/10 [==============================] - 0s 672us/step
MSE 40: 31.813068389892578
10/10 [==============================] - 0s 665us/step
MSE 41: 38.5858154296875
10/10 [==============================] - 0s 665us/step
MSE 42: 31.98027229309082
10/10 [==============================] - 0s 664us/step
MSE 43: 35.90380859375
10/10 [==============================] - 0s 1ms/step
MSE 44: 38.12705612182617
10/10 [==============================] - 0s 665us/step
MSE 45: 37.567649841308594
10/10 [==============================] - 0s 666us/step
MSE 46: 38.74827575683594
10/10 [==============================] - 0s 954us/step
MSE 47: 34.11265182495117
10/10 [==============================] - 0s 664us/step
MSE 48: 37.2349739074707
10/10 [==============================] - 0s 888us/step
MSE 49: 36.14970397949219
10/10 [==============================] - 0s 2ms/step
MSE 50: 38.416290283203125
10/10 [==============================] - 0s 665us/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 41.5262617093841
Standard Deviation: 18.87725743971841